.loadMore {
    font-size: 14px;
    padding: 10px 20px;
    background-color: #4e75ff;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    /* cursor: pointer; */
    margin-left: 10px;
    border-radius: 4px;
    transition: background-color 250ms linear;
    display: block;
    margin: 10px auto;
}